// vant样式

// Toast提示样式
.van-toast {
  background: #EAEAEA !important;
  color: #454545 !important;
}

.van-toast--html,
.van-toast--text {
  padding: 15px !important;
}

// 搜索框
.van-search {
  padding: 0;
  height: 36px;
  .van-search__content {
    border-radius: 10px;
  }
}