// 变量

// 引入MiSans字体
@font-face {
  font-family: MiSans;
  src: url('@/assets/font/misans-light.ttf');
}

@font-face {
  font-family: MiSans;
  src: url('@/assets/font/misans-bold.ttf');
  font-weight: bold;
}

// 引入OPPOSans字体
@font-face {
  font-family: OPPOSans;
  src: url('@/assets/font/opposans-l.ttf');
}

@font-face {
  font-family: OPPOSans;
  src: url('@/assets/font/opposans-b.ttf');
  font-weight: bold;
}