// 变量

// 引入MiSans字体
@font-face {
  font-family: MiSans;
  src: url('../font/misans-normal.ttf');
}

@font-face {
  font-family: MiSans;
  src: url('../font/misans-bold.ttf');
  font-weight: bold;
}

// 引入OPPOSans字体
@font-face {
  font-family: OPPOSans;
  src: url('../font/opposans-regular.ttf');
}

@font-face {
  font-family: OPPOSans;
  src: url('../font/opposans-bold.ttf');
  font-weight: bold;
}